
.label-amarillo {
	background-color: #FCE024;
}

.btn-amarillo {
    background-color: #F4FA58;
    border-color: #F3F781;
    color: #fff;
}

.badge-danger {

  background-color: #d43f3a;
}

.badge-warning {
  background-color: #d58512;
}

.badge-success {
  background-color: #398439;
}

.badge-info {
  background-color: #269abc;
}

.badge-inverse {
  background-color: #333333;
}

.vibrar_campana {
  color: #E43;
  transform-origin: 50% 0;
  animation: vibrate 0.1s linear 0s infinite both;
}

@keyframes vibrate
{
  0%   {transform: rotate(10deg)}
  25%  {transform: rotate(-10deg)}
  50%  {transform: rotate(0)}
  75%  {transform: rotate(10deg)}
  100% {transform: rotate(0)}
}

.position_badge{
  position: absolute;
  margin: -36px 0px 0 122px;
}

.glyphicon_big {
    font-size: 20px;
}
