<!DOCTYPE html>
<html>
  <head>
    {% block title %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI -->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/forms.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/weather-icons/css/weather-icons.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendors/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendors/select/bootstrap-select.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendors/tags/css/bootstrap-tags.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/stats.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/global_hydro.css" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

  </head>
  <body>
    <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <!-- Logo -->
                  <div class="logo">
                     <h1><a href="{% url 'hidro_core.views.dashboard' %}">Hydro</a></h1>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="row">
                    <div class="col-lg-12">
                    </div>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="navbar navbar-inverse" role="banner">
                      <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ usuario }}<b class="caret"></b></a>
                            <ul class="dropdown-menu animated fadeInUp">
                              <li><a href="#">Salir</a></li>
                            </ul>
                          </li>
                        </ul>
                      </nav>

                      <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                          <li id="lista_notificaciones">
                            <a href="{% url 'hidro_core.views.notificaciones' %}">
                              Notificaciones
                              <span id="camp_notificacion" class="bell glyphicon glyphicon_big glyphicon-bell" aria-hidden="true"></span>
                              <div class="position_badge"><span id="num_notif_no_leidas" class="badge badge-danger hide">0</span></div>
                            </a>
                          </li>
                        </ul>
                      </nav>

                  </div>
               </div>
            </div>
         </div>
    </div>

    <div class="page-content">
        <div class="row">
          <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="{% url 'hidro_core.views.dashboard' %}">
                      <i class="glyphicon glyphicon-home"></i>Principal</a>
                    </li>
                    <li><a href="{% url 'hidro_core.views.configuracion' %}">
                      <i class="glyphicon glyphicon-wrench"></i>Configuración</a>
                    </li>
                    <li><a href="{% url 'hidro_core.views.reporte' %}">
                      <i class="glyphicon glyphicon-list"></i>Reportes</a>
                    </li>
                    <!--<li class="current"><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Tables</a></li>
                    <li><a href="buttons.html"><i class="glyphicon glyphicon-record"></i> Buttons</a></li>
                    <li><a href="editors.html"><i class="glyphicon glyphicon-pencil"></i> Editors</a></li>
                    <li><a href="forms.html"><i class="glyphicon glyphicon-tasks"></i> Forms</a></li> -->
                    <!-- <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Pages
                            <span class="caret pull-right"></span>
                         </a>-->
                         <!-- Sub menu -->
                         <!--<ul>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">Signup</a></li>
                        </ul>-->
                   <!-- </li>-->
                </ul>
             </div>
          </div>
          <div class="col-md-10">

            {% if message_success %}
              <div class="alert alert-success alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span class="glyphicon glyphicon-ok"></span>
                <strong>{{ message }}</strong> 
              </div>
            {% endif %}

            {% if message_error %}
              <div class="alert alert-success alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span class="glyphicon glyphicon-minus"></span>
                <strong>{{ message }}</strong> 
              </div>
            {% endif %}
                        
            <div class="content-box-large">
                <h2><b>{% if titulo_modulo %}{{titulo_modulo}}{% endif %}</b></h2>
                <hr>
                <div class="panel-body">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

          </div>
        </div>
    </div>

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2015 <a href='#'>hydrosys</a>
            </div>
            
         </div>
      </footer>

    <link href="{{ STATIC_URL }}vendors/datatables/dataTables.bootstrap.css" rel="stylesheet" media="screen">

    
    <script src="http://{{ IP_SERVER_PORT }}/socket.io/socket.io.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ STATIC_URL }}js/globalhidro.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}vendors/datatables/dataTables.bootstrap.js"></script>

    <!--<script src="{{ STATIC_URL }}js/custom.js"></script>-->
    <!--<script src="{{ STATIC_URL }}js/tables.js"></script>-->
    <script src="{{ STATIC_URL }}vendors/form-helpers/js/bootstrap-formhelpers.min.js"></script>
    <script src="{{ STATIC_URL }}vendors/select/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}vendors/tags/js/bootstrap-tags.min.js"></script>
    <script src="{{ STATIC_URL }}vendors/mask/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}vendors/moment/moment.min.js"></script>
    <script src="{{ STATIC_URL }}vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

     <!-- bootstrap-datetimepicker -->
     <link href="{{ STATIC_URL }}vendors/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet">
     <script src="{{ STATIC_URL }}vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script> 


    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <!--<script src="{{ STATIC_URL }}js/forms.js"></script>-->
    

    <script type="text/javascript">
      
      var obj_base = {

          umbrales_temperatura_mar : [],
          umbrales_temperatura_aire : [],
          umbrales_humedad_aire : [],
          umbrales_intensidad_luz : [],
          umbrales_viento : [],
          umbrales_compas : [],
          umbrales_acelerometro : [],

          valida_medicion : function (variable_fisica, valor_medicion, rangos_umbrales, socket)
          {
                
              var valor_max_amarillo = rangos_umbrales[0];
              var valor_max_naranja = rangos_umbrales[1];
              var crear_alerta = false;

              if (valor_max_amarillo < valor_medicion && valor_medicion <= valor_max_naranja){ // Rango Estado Naranja
                crear_alerta = true;
                var msg_notificacion = obj_base.generar_mensaje_notifiacion (variable_fisica, valor_medicion, estado="NARANJA");
              }else if (valor_medicion > valor_max_naranja ){ // Rango Estado Rojo
                crear_alerta = true;
                var msg_notificacion = obj_base.generar_mensaje_notifiacion (variable_fisica, valor_medicion, estado="ROJA");
              }

              if (crear_alerta == true){
                    var params = {
                      crear_notificacion : 1,
                      descripcion : msg_notificacion
                    };
                    
                    var url_view = "{% url 'hidro_core.views.obtener_notificaciones' %}";
                    $.ajax({
                      url : url_view,
                      type : "GET",
                      data:params,
                      success : function(data)
                      {
                          $("#num_notif_no_leidas").html("");
                          if ($("#num_notif_no_leidas").hasClass('hide'))
                            $("#num_notif_no_leidas").removeClass('hide');
                          $("#num_notif_no_leidas").html(data.length);  
                      }
                    }); 
              }

              return crear_alerta;

          },

          generar_mensaje_notifiacion : function (varible_fisica, valor_medicion, estado) 
          {

            if (varible_fisica == "temperatura_agua")
                var msg_notificacion = "Alerta "+ estado +" Temperatura Agua en : " + valor_medicion + "°C";
            if (varible_fisica == "temperatura_aire")
                var msg_notificacion = "Alerta "+ estado +" Temperatura Ambiente en : " + valor_medicion + "°C";
            if (varible_fisica == "humedad_aire")
                var msg_notificacion = "Alerta "+ estado +" Humedad Aire en : " + valor_medicion + "%";
            if (varible_fisica == "intensidad_luz")
                var msg_notificacion = "Alerta "+ estado +" Iluminancia en : " + valor_medicion + "Lux";
            if (varible_fisica == "Velocidad_aire")
                var msg_notificacion = "Alerta "+ estado +" Velocidad Viento en : " + valor_medicion + "m/s";

              return msg_notificacion;
          },


          obtener_umbrales : function ()
          {
              var url_view = "{% url 'hidro_core.views.obtener_umbrales' %}";
              $.ajax({
                  url : url_view,
                  type : "GET",
                  success : function(data)
                  {
                      var i = 0;
                      obj_base.umbrales_temperatura_aire.push(parseFloat(data[i].fields.umbral_amarillo));
                      obj_base.umbrales_temperatura_aire.push(parseFloat(data[i].fields.umbral_naranja));

                      i = 1;
                      obj_base.umbrales_humedad_aire.push(parseFloat(data[i].fields.umbral_amarillo));
                      obj_base.umbrales_humedad_aire.push(parseFloat(data[i].fields.umbral_naranja));

                      i = 2;
                      obj_base.umbrales_temperatura_mar.push(parseFloat(data[i].fields.umbral_amarillo));
                      obj_base.umbrales_temperatura_mar.push(parseFloat(data[i].fields.umbral_naranja));

                      i = 3;
                      obj_base.umbrales_intensidad_luz.push(parseFloat(data[i].fields.umbral_amarillo));
                      obj_base.umbrales_intensidad_luz.push(parseFloat(data[i].fields.umbral_naranja));

                      i = 4;
                      obj_base.umbrales_viento.push(parseFloat(data[i].fields.umbral_amarillo));
                      obj_base.umbrales_viento.push(parseFloat(data[i].fields.umbral_naranja));

                      i = 5;
                      obj_base.umbrales_compas.push(parseFloat(data[i].fields.umbral_amarillo));
                      obj_base.umbrales_compas.push(parseFloat(data[i].fields.umbral_naranja));

                      i = 6;
                      obj_base.umbrales_acelerometro.push(parseFloat(data[i].fields.umbral_amarillo));
                      obj_base.umbrales_acelerometro.push(parseFloat(data[i].fields.umbral_naranja));

                  },

                  // handle a non-successful response
                  error : function(xhr,errmsg,err) {
                      console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the 
                  }
              });
          },

          
          init : function (socket){
          
              obj_base.obtener_umbrales();
              
              var temp_aire;
              var hum_aire;
              var temp_mar;
              var viento;
              var inten_luz;
              var compas_mag;
              var acelerometro_x;
              var acelerometro_y;
              var acelerometro_z;

              socket.emit('obtener_todas_variables_fisicas', '1');
              socket.on('ultimas_mediciones', function (mediciones) {
                    temp_aire = mediciones.temperatura_aire;
                    hum_aire = mediciones.humedad_aire;
                    temp_mar = mediciones.temperatura_agua;
                    viento = mediciones.viento;
                    inten_luz = mediciones.intensidad_luz;
                    compas_mag = mediciones.compas_mag;
                    acelerometro_x = mediciones.acelerometro_x;
                    acelerometro_y = mediciones.acelerometro_y;
                    acelerometro_z = mediciones.acelerometro_z;
                    num_notificaciones = mediciones.num_notificaciones;

                    var vibrar_alerta;
                    vibrar_alerta = obj_base.valida_medicion("temperatura_agua", temp_mar, obj_base.umbrales_temperatura_mar, socket);
                    vibrar_alerta = obj_base.valida_medicion("temperatura_aire", temp_aire, obj_base.umbrales_temperatura_aire, socket);
                    vibrar_alerta = obj_base.valida_medicion("humedad_aire", hum_aire, obj_base.umbrales_humedad_aire,socket);
                    vibrar_alerta = obj_base.valida_medicion("intensidad_luz", inten_luz, obj_base.umbrales_intensidad_luz,socket);
                    vibrar_alerta = obj_base.valida_medicion("Velocidad_aire", viento, obj_base.umbrales_viento,socket);
              });
          }
      }      
   

      $(function(){        
          var socket = io('http://{{ IP_SERVER_PORT }}');
          obj_base.init(socket);
      });

    </script>
    {% block extra_js %}
        
    {% endblock %}

  </body>
</html>
