{% extends 'base.html' %}
{% block content %}

<div class="col-md-12 panel-info">
    <div class="row">
        <a class="btn btn-success glyphicon glyphicon-plus" href="{% url 'hidro_core.views.registrar_obtener_equipo' %}">Agregar</a>
    </div>
    <div class="row">&nbsp</div>
</div>

<div class="row">
    <div class="col-md-12 panel-info">
        <div class="content-box-header panel-heading">
            <div class="panel-title ">
                <h4>Buscar Equipos</h4>
            </div>
        </div>
        <div class="content-box-large box-with-header">
            <div>
                <div class="row">
                    <div class="form-group">
                       <form method="GET" action="{% url 'hidro_core.views.dashboard' %}">
			<form method="GET" action".">
                            {% csrf_token %}
                            <label class="col-md-1 control-label" for="text-field">Nombre: </label>
                            <div class="col-sm-3">
                                {{ form_buscar.nombre }}
                            </div>
                            
                             <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary" >Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th> </th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Medición</th>
                <th>Estadisticas</th>
            </tr>
        </thead>

        <tbody>

            {% for equipo in equipos %}
                <tr id="{{equipo.id}}">
                    <td>
                        <a class="glyphicon glyphicon-edit" href="{% url 'hidro_core.views.registrar_obtener_equipo' equipo.id %}"></a>
                        <a class="glyphicon glyphicon-trash" href="{% url 'hidro_core.views.eliminar_equipo' equipo.id %}"></a>
                    </td>
                    <td>
                        {{ equipo.nombre }}
                    </td>
                    <td>
                        {% if equipo.estado == 'A'%}
                            <span class="label label-success">Encendido</span>
                        {% else %}
                            <!-- <span class="glyphicon glyphicon-minus-sign"/> -->
                            <span class="label label-warning">Apagado</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if equipo.estado == 'A'%}
                            <a class="glyphicon glyphicon-search btn btn-primary btn-sm" href="{% url 'hidro_core.views.medicionesxequipo' equipo.id %}"> Ver </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if equipo.estado == 'A'%}
                            <a class="glyphicon glyphicon-stats btn btn-success btn-sm" href="{% url 'hidro_core.views.graficasxequipo' equipo.id %}"> Graficas</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
