<!DOCTYPE html>
<html>
  <head>
    <title>Mediciones Equipo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI -->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/stats.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/weather-icons/css/weather-icons.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/global_hydro.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
       <div class="container">
          <div class="row">
             <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                   <h1><a href="#"><img src="{{ STATIC_URL }}images/logo_banner.png" style="width:8%;"> Enki</a></h1>

                </div>
             </div>
             <div class="col-md-7">
                  <div class="navbar navbar-inverse" role="banner">
                      <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                          <ul class="nav navbar-nav">
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ usuario }}<b class="caret"></b></a>
                              <ul class="dropdown-menu animated fadeInUp">
                                <li><a href="{% url 'hidro_core.views.salir' %}">Salir</a></li>
                              </ul>
                            </li>
                          </ul>
                      </nav>
                      <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                          <li id="lista_notificaciones">
                            <a href="{% url 'hidro_core.views.notificaciones' %}">
                              Notificaciones
                              <span id="camp_notificacion" class="bell glyphicon glyphicon_big glyphicon-bell" aria-hidden="true"></span>
                              <div class="position_badge"><span id="num_notif_no_leidas" class="badge badge-danger hide">0</span></div>
                            </a>
                          </li>
                        </ul>  
                      </nav>
                  </div>
               </div>
          </div>
       </div>
  </div>

    <div class="page-content">
      <div class="row">
      <div class="col-md-2">
        <div class="sidebar content-box" style="display: block;">
           {% csrf_token %}
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="{% url 'hidro_core.views.dashboard' %}">
                      <i class="glyphicon glyphicon-home"></i>Principal</a>
                    </li>
                    <li><a href="{% url 'hidro_core.views.configuracion' %}">
                      <i class="glyphicon glyphicon-wrench"></i> Configuración</a>
                    </li>
                    <li>
                      <a href="#" class="" data-toggle="modal" data-target="#basicModal">
                        <i class="glyphicon glyphicon-map-marker"></i>Ubicación
                      </a>
                    </li>
                    <li class="submenu">
                         <a href="#">
                            <i class="glyphicon glyphicon-list"></i> Reportes
                            <span class="caret pull-right"></span>
                         </a>
                         <!-- Sub menu -->
                         <ul style="display: none;">
                            <li><a href="{% url 'hidro_core.views.reporte_grafico' %}">Gráficos</a></li>
                            <li><a href="{% url 'hidro_core.views.reporte' %}">Datos</a></li>
                        </ul>
                    </li>
                </ul>
             </div>
      </div>
      <div class="col-md-10">
         <div class="content-box-large" style="diplay:none">
          <div class="panel-heading">
            <div class="panel-title"><h3><b>Panel de Monitoreo General</h3></b></div>
          </div>
          <div class="panel-body">
              <div class="row">
        				<div class="col-md-3">
        					<div class="content-box-header">
        						<div class="text-center"><b>Temperatura Agua [°C]<b></div>
        					</div>
        					<div class="content-box-large box-with-header">
        						<p class="text-center">
        							<input id="knob_temp_mar" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
        						</p>
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'temperatura_mar' %}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
        					</div>
        				</div>

        				<div class="col-md-3">
        					<div class="content-box-header">
        						<div class="text-center"><b>Temperatura Aire [°C]<b>
                    </div>
        					</div>
        					<div class="content-box-large box-with-header">
        						<p class="text-center">
        						  <!--<input type="text" value="75" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-bgColor="#c4e9aa" data-width="150">-->

                      <input id="knob_temp_aire" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
                    </p>
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'temperatura_aire' %}" class="btn btn-lg btn-block btn-primary">
                          <i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
        					</div>
        				</div>

        				<div class="col-md-3">
        					<div class="content-box-header">
        						<div class="text-center"><b>Humedad Relativa [%]<b></div>
        					</div>
        					<div class="content-box-large box-with-header">
        						<p class="text-center">
        						<!-- <input type="text" value="85" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#b85e80" data-bgColor="#f8d2e0" data-width="150">-->

                    <input id="knob_hum_aire" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
                  </p>
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'humedad_aire' %}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
        					</div>
        				</div>

        				<div class="col-md-3">
        					<div class="content-box-header">
        						<div class="text-center"><b>Iluminancia [Lux]<b></div>
        					</div>
        					<div class="content-box-large box-with-header">
        						<p class="text-center">
        						<input id="knob_luz" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
                  </p>
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'intensidad_luz' %}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
        					</div>
        				</div>
              </div>

              <!-- Bloque 2-->
              <div class="row">
                <div class="col-md-3">
                  <div class="content-box-header">
                    <div class="text-center"><b>Velocidad Viento [m/s]</b></div>
                  </div>
                  <div class="content-box-large box-with-header">
                    <p class="text-center">
                    <input id="knob_vie" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
                  </p>
                    <div class="row">&nbsp;</div>                  
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'velocidad_viento' %}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="content-box-header">
                    <div class="text-center">Brújula [°]</div>
                  </div>
                  <div class="content-box-large box-with-header">
                    <p class="text-center">
                      <input id="knob_bruj" type="text" value="0" class="knob second" data-min="0" data-max="360" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
                    </p>
                    <div class="row">&nbsp;</div>
                    
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'compas_mag' %}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="content-box-header">
                      <div class="text-center">Acelerómetro [m/s²]</div>
                  </div>
                  
                  <div class="content-box-large box-with-header">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2"><span class="label label-default">Aceleración X</span></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2"><span class="label label-default">Aceleración Y</span></div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2"><span class="label label-default">Aceleración Z</span></div>
                        
                    </div>
                    <br/>
                    <div class="row text-center">
                      <input id="knob_acelero_x" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="130" data-readonly="true">
                      &nbsp;&nbsp;&nbsp;
                      <input id="knob_acelero_y" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="130" data-readonly="true">
                      &nbsp;&nbsp;&nbsp;
                      <input id="knob_acelero_z" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="130" data-readonly="true">
                    </div>
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'acelerometro' %}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              
              <!-- -->
          </div>
        </div>
      </div>
    </div>

    <!-- -->
        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                  <h4 class="modal-title" id="myModalLabel">Úbicación de Boya</h4>
                  </div>
                  <div class="modal-body">
                      <h3>Lago Espol - Guayaquil</h3>

                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d882.6290171012986!2d-79.96195527228838!3d-2.1446468521878055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sec!4v1436325518880" width="560" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
          </div>
        </div>
      </div>
    <!-- -->
    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2015 <strong>AstroCorp</strong>
            </div>
            
         </div>
      </footer>


    <!-- <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>-->
     <!-- Importo el archivo Javascript de Highcharts directamente desde su servidor -->
    <script src="http://{{ IP_SERVER_PORT }}/socket.io/socket.io.js"></script>
     {% comment %} <script src="http://{{ IP_SERVER_PORT_NOTIFI }}/socket.io/socket.io.js"></script> {% endcomment %}
    <!--<script src="https://code.highcharts.com/highcharts.js"></script>-->

    {% comment %} // <script src="http://localhost:4000/socket.io/socket.io.js"></script> {% endcomment %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}vendors/morris/morris.css">
    <script src="{{ STATIC_URL }}vendors/jquery.knob.js"></script>
    <script src="{{ STATIC_URL }}vendors/raphael-min.js"></script>
    <script src="{{ STATIC_URL }}vendors/morris/morris.min.js"></script>
    <script src="{{ STATIC_URL }}js/stats.js"></script>
    <script src="{{ STATIC_URL }}js/custom.js"></script>

    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.categories.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.pie.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.time.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.stack.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.resize.js"></script>

    <script type="text/javascript">

         var obj_dashboard = {

            ids_knobs : [ "knob_temp_mar", "knob_temp_aire", "knob_hum_aire", "knob_luz", "knob_vie",
                          "knob_bruj", "knob_acelero_x", "knob_acelero_y", "knob_acelero_z"],

            umbrales_temperatura_mar : [],
            umbrales_temperatura_aire : [],
            umbrales_humedad_aire : [],
            umbrales_intensidad_luz : [],
            umbrales_viento : [],
            umbrales_compas : [],
            umbrales_acelerometro : [],

            init : function ()
            {
                obj_dashboard.init_knobs(obj_dashboard.ids_knobs);
                obj_dashboard.obtener_umbrales();
                var socket = io('http://{{ IP_SERVER_PORT }}');
                obj_dashboard.obtener_datos_medidos_equipo(socket);
                obj_dashboard.obtener_notificaciones(socket, no_leidas=false);
                obj_dashboard.obtener_notificaciones(socket, no_leidas=true);
            },

            obtener_notificaciones : function (socket, no_leidas){
                if(no_leidas == true){
                  socket.emit('obtener_notif_no_leidas', '1'); 
                  socket.on('resp_notifi_no_leidas', function (resp) {                      
                      notificaciones_noleidas = resp;
                      $("#num_notif_no_leidas").html("");
                      if ($("#num_notif_no_leidas").hasClass('hide')){
                          $("#num_notif_no_leidas").removeClass('hide');
                      }

                      $("#num_notif_no_leidas").html(notificaciones_noleidas); 
                  });
                }else{
                  socket.emit('obtener_ultima_notifiacion', {});
                  socket.on('respuesta_notificacion', function (resp) {
                      notificaciones_noleidas = resp.notifi_no_leidas;
                      $("#num_notif_no_leidas").html("");
                      if ($("#num_notif_no_leidas").hasClass('hide')){
                          $("#num_notif_no_leidas").removeClass('hide');
                      }

                      $("#num_notif_no_leidas").html(notificaciones_noleidas); 
                  });

                }
            },


            init_knobs : function (knobs)
            {

              for (var i = 0; i < knobs.length; i++)
                $("#" + knobs[i]).knob();

            },


            

            validar_medicion : function (variable_fisica, valor_medicion, rangos_var_fisica)
            {
                variable_fisica = "#" + variable_fisica;
                $(variable_fisica).val(valor_medicion).trigger('change');
                var vibra_alerta = false;
                
                var valor_max = 0;
                if (variable_fisica == "#knob_bruj"){
                  valor_max = 360;
                }else{
                  valor_max = 100;
                }

                var valor_base = rangos_var_fisica[0];
                var valor_max_verde = rangos_var_fisica[1];
                var valor_max_amarillo = rangos_var_fisica[2];
                var valor_max_naranja = rangos_var_fisica[3];

                if (valor_base <= valor_medicion && valor_medicion <= valor_max_verde){ // Rango Estado Verde
                  $(variable_fisica).trigger('configure',{min: '0', max: valor_max, "fgColor" : "#5cb85c", "readOnly": true });
                }else if (valor_max_verde < valor_medicion && valor_medicion <= valor_max_amarillo){ // Rango Estado Amarillo
                  $(variable_fisica).trigger('configure',{min: '0', max: valor_max, "fgColor" : "#F4FA58", "readOnly": true });
                }else if (valor_max_amarillo < valor_medicion && valor_medicion <= valor_max_naranja){ // Rango Estado Naranja
                  $(variable_fisica).trigger('configure',{min: '0', max: valor_max, "fgColor" : "#f0ad4e", "readOnly": true });
                  vibra_alerta = true;
                }else if (valor_medicion > valor_max_naranja ){ // Rango Estado Rojo
                  $(variable_fisica).trigger('configure',{min: '0', max: valor_max, "fgColor" : "#d9534f", "readOnly": true });
                  vibra_alerta = true;
                }

                

                return vibra_alerta;
              
            },

            
            obtener_datos_medidos_equipo : function(socket)
            {
                
                var temp_aire;
                var hum_aire;
                var temp_mar;
                var viento;
                var inten_luz;
                var compas_mag;
                var acelerometro_x;
                var acelerometro_y;
                var acelerometro_z;

                socket.emit('obtener_todas_variables_fisicas', '1');
                socket.on('ultimas_mediciones', function (mediciones) {
                        temp_aire = mediciones.temperatura_aire;
                        hum_aire = mediciones.humedad_aire;
                        temp_mar = mediciones.temperatura_agua;
                        viento = mediciones.viento;
                        inten_luz = mediciones.intensidad_luz;
                        compas_mag = mediciones.compas_mag;
                        acelerometro_x = mediciones.acelerometro_x;
                        acelerometro_y = mediciones.acelerometro_y;
                        acelerometro_z = mediciones.acelerometro_z;
                        num_notificaciones = mediciones.num_notificaciones;

                    arr_vibrar_alerta = [];
                    //medición temperatura agua
                    var rangos_temp_mar = obj_dashboard.umbrales_temperatura_mar;
                    vibrar_alerta = obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[0], temp_mar, rangos_temp_mar);
                    arr_vibrar_alerta.push(vibrar_alerta);
                    //medición temperatura aire
                    var rangos_temp_aire = obj_dashboard.umbrales_temperatura_aire;
                    vibrar_alerta = obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[1], temp_aire, rangos_temp_aire);
                    arr_vibrar_alerta.push(vibrar_alerta);
                    //medición humedad aire
                    var rangos_hum_aire = obj_dashboard.umbrales_humedad_aire;
                    vibrar_alerta = obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[2], hum_aire, rangos_hum_aire);
                    arr_vibrar_alerta.push(vibrar_alerta);
                    //medición intensidad luz
                    var rangos_intensidad_luz = obj_dashboard.umbrales_intensidad_luz;
                    vibrar_alerta = obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[3], inten_luz, rangos_intensidad_luz);
                    arr_vibrar_alerta.push(vibrar_alerta);
                    //medición viento
                    var rangos_viento = obj_dashboard.umbrales_viento;
                    vibrar_alerta = obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[4], viento, rangos_viento);
                    arr_vibrar_alerta.push(vibrar_alerta);

                    alertas = arr_vibrar_alerta.filter(function(value){ return value === true; }).length

                    // if(alertas > 0)
                    // {
                    //     socket.emit('obtener_notificaciones', '1');
                    //     socket.on('notificaciones_noleidas', function (data) {
                    //         $("#num_notif_no_leidas").html("");
                    //         if ($("#num_notif_no_leidas").hasClass('hide'))
                    //           $("#num_notif_no_leidas").removeClass('hide');
                    //         $("#num_notif_no_leidas").html(data.num_notificaciones_noleidas);
                    //     });
                    // }
                    
                    //medición compás magnético
                    var rangos_compas = obj_dashboard.umbrales_compas;
                    obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[5], compas_mag, rangos_compas);

                    //medición acelerometro
                    var rangos_acelerometro = obj_dashboard.umbrales_acelerometro;
                    obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[6], acelerometro_x, rangos_acelerometro);
                    obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[7], acelerometro_y, rangos_acelerometro);
                    obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[8], acelerometro_z, rangos_acelerometro);

                    

                });     
            },


            obtener_umbrales : function()
            {
                var url_view = "{% url 'hidro_core.views.obtener_umbrales' %}";
                $.ajax({
                    url : url_view,
                    type : "GET",
                    success : function(data)
                    {
                        var i = 0;
                        obj_dashboard.umbrales_temperatura_aire.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_temperatura_aire.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_temperatura_aire.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_temperatura_aire.push(parseFloat(data[i].fields.umbral_naranja));
                        
                        i = 1;
                        obj_dashboard.umbrales_humedad_aire.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_humedad_aire.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_humedad_aire.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_humedad_aire.push(parseFloat(data[i].fields.umbral_naranja));

                        i = 2;
                        obj_dashboard.umbrales_temperatura_mar.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_temperatura_mar.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_temperatura_mar.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_temperatura_mar.push(parseFloat(data[i].fields.umbral_naranja));

                        i = 3;
                        obj_dashboard.umbrales_intensidad_luz.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_intensidad_luz.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_intensidad_luz.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_intensidad_luz.push(parseFloat(data[i].fields.umbral_naranja));

                        i = 4;
                        obj_dashboard.umbrales_viento.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_viento.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_viento.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_viento.push(parseFloat(data[i].fields.umbral_naranja));

                        i = 5;
                        obj_dashboard.umbrales_compas.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_compas.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_compas.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_compas.push(parseFloat(data[i].fields.umbral_naranja));

                        i = 6;
                        obj_dashboard.umbrales_acelerometro.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_acelerometro.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_acelerometro.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_acelerometro.push(parseFloat(data[i].fields.umbral_naranja));

                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the 
                    }
                });
            },

         };
        
    $(function(){
        obj_dashboard.init();
        
    }); 

    </script>
  </body>
</html>
