<!DOCTYPE html>
<html>
  <head>
    <title>Mediciones Equipo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI -->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/stats.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
       <div class="container">
          <div class="row">
             <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                   <h1><a href="#">Hydro</a></h1>
                </div>
             </div>

             <div class="col-md-5">
              
             </div>
             <div class="col-md-2">
                  <div class="navbar navbar-inverse" role="banner">
                      <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ usuario }}<b class="caret"></b></a>
                            <ul class="dropdown-menu animated fadeInUp">
                              <li><a href="#">Salir</a></li>
                            </ul>
                          </li>
                        </ul>
                      </nav>
                  </div>
               </div>
          </div>
       </div>
  </div>

    <div class="page-content">
      <div class="row">
      <div class="col-md-2">
        <div class="sidebar content-box" style="display: block;">
           {% csrf_token %}
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="{% url 'hidro_core.views.dashboard' %}">
                      <i class="glyphicon glyphicon-home"></i>Panel</a>
                    </li>
                    <li><a href="{% url 'hidro_core.views.configuracion' %}">
                      <i class="glyphicon glyphicon-wrench"></i> Configuración</a>
                    </li>

                    <!-- <li><a href="javascript:void(0);" id="menu_configuracion">
                      <i class="glyphicon glyphicon-wrench"></i> Configuración</a>
                    </li> -->
                    <!-- <li><a href="calendar.html"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
                    <li class="current"><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Statistics (Charts)</a></li>
                    <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Tables</a></li>
                    <li><a href="buttons.html"><i class="glyphicon glyphicon-record"></i> Buttons</a></li>
                    <li><a href="editors.html"><i class="glyphicon glyphicon-pencil"></i> Editors</a></li>
                    <li><a href="forms.html"><i class="glyphicon glyphicon-tasks"></i> Forms</a></li> -->
                </ul>
             </div>
      </div>
      <div class="col-md-10">
         <div class="content-box-large" style="diplay:none">
          <div class="panel-heading">
            <div class="panel-title"><h3><b>Mediciones</h3></b></div>
          </div>
          <div class="panel-body">
              <div class="row">
        				<div class="col-md-3">
        					<div class="content-box-header">
        						<div class="text-center"><b>Temperatura Mar [°C]<b></div>
        					</div>
        					<div class="content-box-large box-with-header">
        						<p class="text-center">
        							<input id="knob_temp_mar" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
        						</p>
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'temperatura_mar' %}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
        					</div>
        				</div>

        				<div class="col-md-3">
        					<div class="content-box-header">
        						<div class="text-center"><b>Temperatura Aire [°C]<b></div>
        					</div>
        					<div class="content-box-large box-with-header">
        						<p class="text-center">
        						  <!--<input type="text" value="75" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-bgColor="#c4e9aa" data-width="150">-->

                      <input id="knob_temp_aire" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
                    </p>
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'temperatura_aire' %}" class="btn btn-lg btn-block btn-primary">
                          <i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
        					</div>
        				</div>

        				<div class="col-md-3">
        					<div class="content-box-header">
        						<div class="text-center"><b>Humedad Relativa [%]<b></div>
        					</div>
        					<div class="content-box-large box-with-header">
        						<p class="text-center">
        						<!-- <input type="text" value="85" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#b85e80" data-bgColor="#f8d2e0" data-width="150">-->

                    <input id="knob_hum_aire" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
                  </p>
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'humedad_aire' %}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
        					</div>
        				</div>

        				<div class="col-md-3">
        					<div class="content-box-header">
        						<div class="text-center"><b>Radiación Solar [Lux]<b></div>
        					</div>
        					<div class="content-box-large box-with-header">
        						<p class="text-center">
        						<input id="knob_luz" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
                  </p>
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'intensidad_luz' %}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
        					</div>
        				</div>
              </div>

              <!-- Bloque 2-->
              <div class="row">
                <div class="col-md-3">
                  <div class="content-box-header">
                    <div class="text-center"><b>Velocidad Viento [m/s]</b></div>
                  </div>
                  <div class="content-box-large box-with-header">
                    <p class="text-center">
                    <input id="knob_vie" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
                  </p>
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'viento' %}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="content-box-header">
                    <div class="text-center">Brujula [°]</div>
                  </div>
                  <div class="content-box-large box-with-header">
                    <p class="text-center">
                    <input id="knob_bruj" type="text" value="0" class="knob second" data-thickness=".3" data-inputColor="#333" data-fgColor="#8ac368" data-width="150" data-readonly="true">
                  </p>
                    <div class="row">
                      <div class="text-center">
                        <a href="{% url 'hidro_core.views.medicionesxequipo' 1 'compas_mag' %}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-list"></i> Ver Detalle</a>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              
              <!-- -->
          </div>
        </div>
      </div>
    </div>

    <!-- popup configuracion-->
    <!-- <div id="configuracion_popup" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Frecuencia de Datos:</h4>
              </div>
              <div class="modal-body">
                  <form role="form">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Frecuencia:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                    </form>
              </div>
              <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button> -->
                  <button type="button" class="btn btn-primary">Guardar</button>
              </div>
          </div>
      </div>
    </div> -->
    <!-- -->

    <footer>
         <div class="container">
         
            <div class="copy text-center">
               Copyright 2014 <a href='#'>Website</a>
            </div>
            
         </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}vendors/morris/morris.css">

    <script src="{{ STATIC_URL }}vendors/jquery.knob.js"></script>
    <script src="{{ STATIC_URL }}vendors/raphael-min.js"></script>
    <script src="{{ STATIC_URL }}vendors/morris/morris.min.js"></script>
    <script src="{{ STATIC_URL }}js/stats.js"></script>

    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.categories.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.pie.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.time.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.stack.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.resize.js"></script>

    <script type="text/javascript">
         var obj_dashboard = {

            ids_knobs : [ "knob_temp_mar", "knob_temp_aire", "knob_hum_aire", "knob_luz", "knob_vie","knob_acelero","knob_bruj"],

            umbrales_temperatura_mar : [],
            umbrales_temperatura_aire : [],
            umbrales_humedad_aire : [],
            umbrales_intensidad_luz : [],
            umbrales_viento : [],

            init : function ()
            {
                obj_dashboard.init_knobs(obj_dashboard.ids_knobs);
                obj_dashboard.obtener_umbrales();
                obj_dashboard.obtener_datos_medidos_equipo();
                setInterval(obj_dashboard.obtener_datos_medidos_equipo, 3000);
            },

            init_knobs : function (knobs)
            {

              for (var i = 0; i < knobs.length; i++)
                $("#" + knobs[i]).knob();

            },

            validar_medicion : function (variable_fisica, valor_medicion, rangos_temp_mar)
            {
              variable_fisica = "#" + variable_fisica;
              $(variable_fisica).val(valor_medicion).trigger('change');

              var valor_base = rangos_temp_mar[0];
              var valor_max_verde = rangos_temp_mar[1];
              var valor_max_amarillo = rangos_temp_mar[2];
              var valor_max_naranja = rangos_temp_mar[3];

              if (valor_base <= valor_medicion && valor_medicion <= valor_max_verde){ // Rango Estado Verde
                $(variable_fisica).trigger('configure',{min: '0', max: '100', "fgColor" : "#5cb85c", "readOnly": true });
              }else if (valor_max_verde < valor_medicion && valor_medicion <= valor_max_amarillo){ // Rango Estado Amarillo
                $(variable_fisica).trigger('configure',{min: '0', max: '100', "fgColor" : "#F4FA58", "readOnly": true });
              }else if (valor_max_amarillo < valor_medicion && valor_medicion <= valor_max_naranja){ // Rango Estado Naranja
                $(variable_fisica).trigger('configure',{min: '0', max: '100', "fgColor" : "#f0ad4e", "readOnly": true });
              }else{ // Rango Estado Rojo
                $(variable_fisica).trigger('configure',{min: '0', max: '100', "fgColor" : "#d9534f", "readOnly": true });
              }
              
            },

            obtener_datos_medidos_equipo : function()
            {
                var url_view = "{% url 'hidro_core.views.obtener_datos_medidos_equipo' 1 %}";
                $.ajax({
                    url : url_view,
                    type : "GET",
                    success : function(data)
                    {
                        var temp_aire = parseFloat(data[0].fields.temperatura);
                        var temp_mar = parseFloat(data[0].fields.temperatura_agua);
                        var viento = parseFloat(data[0].fields.viento);
                        var hum_aire = parseFloat(data[0].fields.humedad);
                        var inten_luz = parseFloat(data[0].fields.intensidad_luz);
                        
                        //medición temperatura agua
                        var rangos_temp_mar = obj_dashboard.umbrales_temperatura_mar;
                        obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[0], temp_mar, rangos_temp_mar);
                        
                        //medición temperatura aire
                        var rangos_temp_aire = obj_dashboard.umbrales_temperatura_aire;
                        obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[1], temp_aire, rangos_temp_aire);

                        //medición humedad aire
                        var rangos_hum_aire = obj_dashboard.umbrales_humedad_aire;
                        obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[2], hum_aire, rangos_hum_aire);

                        //medición intensidad luz
                        var rangos_intensidad_luz = obj_dashboard.umbrales_intensidad_luz;
                        obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[3], inten_luz, rangos_intensidad_luz);

                        //medición viento
                        var rangos_viento = obj_dashboard.umbrales_viento;
                        obj_dashboard.validar_medicion(obj_dashboard.ids_knobs[4], viento, rangos_viento);

                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            },


            obtener_umbrales : function()
            {
                var url_view = "{% url 'hidro_core.views.obtener_umbrales' %}";
                $.ajax({
                    url : url_view,
                    type : "GET",
                    success : function(data)
                    {
                        var i = 0;
                        obj_dashboard.umbrales_temperatura_aire.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_temperatura_aire.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_temperatura_aire.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_temperatura_aire.push(parseFloat(data[i].fields.umbral_naranja));
                        
                        i = 1;
                        obj_dashboard.umbrales_humedad_aire.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_humedad_aire.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_humedad_aire.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_humedad_aire.push(parseFloat(data[i].fields.umbral_naranja));

                        i = 2;
                        obj_dashboard.umbrales_temperatura_mar.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_temperatura_mar.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_temperatura_mar.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_temperatura_mar.push(parseFloat(data[i].fields.umbral_naranja));

                        i = 3;
                        obj_dashboard.umbrales_intensidad_luz.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_intensidad_luz.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_intensidad_luz.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_intensidad_luz.push(parseFloat(data[i].fields.umbral_naranja));

                        i = 4;
                        obj_dashboard.umbrales_viento.push(parseFloat(data[i].fields.umbral_base));
                        obj_dashboard.umbrales_viento.push(parseFloat(data[i].fields.umbral_verde));
                        obj_dashboard.umbrales_viento.push(parseFloat(data[i].fields.umbral_amarillo));
                        obj_dashboard.umbrales_viento.push(parseFloat(data[i].fields.umbral_naranja));

                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the 
                    }
                });
            },

         };
        
    $(function(){
        obj_dashboard.init();
    }); 

    </script>
  </body>
</html>