{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}vendors/morris/morris.css">
{% endblock %}

{% block content %}
    
    

    <div class="row">
        <!-- <div class="content-box-large"> -->
            <div class="panel-heading">
                {% if variable_fisica == 'temperatura_aire' %}
                    <div class="text-center"><h3>Temperatura Aire vs Tiempo</h3></div>
                {% elif variable_fisica == 'humedad_aire'%}
                    <div class="text-center"><h3>Humedad vs Tiempo</h3></div>
                {% elif variable_fisica == 'intensidad_luz'%}
                    <div class="text-center"><h3>Intensidad Luz vs Tiempo</h3></div>
                {% endif %}
            </div>

            <div id="grafica"> </div>
            <button>Start Updates</button>
    </div>

    <hr>
    <div class="row">
        <div class="panel-title">
            <h3>Registros</h3>
            Los datos se actualizan cada X segundos.
            
            <a id="" target="_blank" href="{% url 'hidro_core.views.linechart' %}"> Graph</a>

        </div>
        <div class="panel-heading">
            <!-- <div class="panel-title">Registros</div> -->
            
            <div class="panel-options">
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                        <i class="glyphicon glyphicon-download"></i>
                        Exportar 
                        <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                      <!-- <li><a href="#"><i class="fa fa-camera-retro fa-lg"></i>Excel</a></li> -->
                      <li><a id="btn_excel" target ="_blank" target="_blank" href="{% url 'hidro_core.views.exportar_excel' equipo.id %}?variable_fisica={{ variable_fisica }}"><i class="fa fa-file-excel-o fa-lg"></i> Excel</a></li>
                      <li><a id="btn_pdf" target="_blank" href="{% url 'hidro_core.views.exportar_pdf' equipo.id %}?variable_fisica={{ variable_fisica }}"><i class="fa fa-file-pdf-o fa-lg"></i> PDF</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
        <div id="tabla_mediciones">
            <table class="table table-responsive">
              <thead>
                <th>Fecha</th>
                <th>Hora</th>
                {% if variable_fisica == 'temperatura_aire' %}
                    <th>Temperatura (°C)</th>
                {% elif variable_fisica == 'humedad_aire'%}
                    <th>Humedad (%)</th>
                {% elif variable_fisica == 'intensidad_luz'%}
                    <th>Intensidad Luz(%)</th>
                {% endif %}
              </thead>
              <tbody id="data_mediciones">
                
              </tbody>
            </table>
            
            {% comment %}<ul class="pager wizard">
                    {% if equipo_mediciones.has_previous %}
                        <li class="previous disabled">
                            <a href="?page={{ equipo_mediciones.previous_page_number }}" class="previous">Anterior</a>
                        </li>
                    {% endif %}

                    <span class="current">
                        Página {{ equipo_mediciones.number }} de {{ equipo_mediciones.paginator.num_pages }}
                    </span>

                    {% if equipo_mediciones.has_next %}
                        <li class="next"><a href="?page={{ equipo_mediciones.next_page_number }}" class="next">Siguiente</a>
                        </li>
                        
                    {% endif %}
            </ul>{% endcomment %}
        </div>
        </div>
    </div>
    <input type="hidden" id="variable_fisica" name="variable_fisica" value="{{ variable_fisica }}" >
{% endblock %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}vendors/jquery.knob.js"></script>
    <script src="{{ STATIC_URL }}vendors/raphael-min.js"></script>
    <script src="{{ STATIC_URL }}vendors/morris/morris.min.js"></script>

    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.categories.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.pie.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.time.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.stack.js"></script>
    <script src="{{ STATIC_URL }}vendors/flot/jquery.flot.resize.js"></script>

    
    <script src="{{ STATIC_URL }}js/stats.js"></script>
    
    <!--  -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jqplot/1.0.8/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.dateAxisRenderer.min.js">
    </script>
    <!--  -->

    <script type="text/javascript">
        var obj_mediciones = {

            init : function ()
            {
                obj_mediciones.medicionesxequipo();
                setInterval(obj_mediciones.medicionesxequipo, 3000);
                obj_mediciones.obtener_datos_medidos_equipo_grafica();
                setInterval(obj_mediciones.obtener_datos_medidos_equipo_grafica, 3000);             
            },

            medicionesxequipo : function()
            {
                var url_view = "{% url 'hidro_core.views.medicionesxequipo_ajax' equipo.id %}";
                var variable_fisica = $("#variable_fisica").val();
                var params = { variable_fisica : variable_fisica };
                $.ajax({
                    url : url_view,
                    type : "GET",
                    data: params,
                    success : function(data)
                    {
                      $("#data_mediciones").html(data);
                    },

                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the 
                    }
                });
            },

            obtener_datos_medidos_equipo_grafica : function()
            {
                var url_view = "{% url 'hidro_core.views.obtener_datos_medidos_equipo' equipo.id %}";
                $.ajax({
                    url : url_view,
                    type : "GET",
                    
                    success : function(data)
                    {
                        $("#grafica").html(" ");
                        var tax_data = [];
                        for (var i = 0; i < data.length; i++) {
                          var date = new Date(data[i].fields.fecha_creacion);
                          var fecha_creacion = date.getTime();
                          var temperatura = data[i].fields.temperatura;
                          // var humedad = data[i].fields.humedad;
                          // var intensidad_luz = data[i].fields.intensidad_luz;
                          
                          tax_data.push({
                            fecha_creacion:fecha_creacion,
                            temperatura: temperatura, 
                            // humedad: humedad, 
                            // intensidad_luz: intensidad_luz,
                          });
                          
                        };

                        grafico_medicion = Morris.Line({
                            element: 'grafica',
                            data: tax_data,
                            xkey: 'fecha_creacion',
                            xLabels: "hora",
                            ykeys: ['temperatura'],
                            labels: ['Temperatura', 'XXXXX']
                            //ykeys: ['temperatura', 'humedad', 'intensidad_luz'],
                            //labels: ['Temperatura', 'Humedad', 'Luz']
                        });
                    }
                });
            },


            
        };
            
        $(function(){
            //obj_mediciones.init();


            /////////////////////////////////////////////
            //refresh time (in millisec)
            var t = 1000;
            //samples to draw
            var n = 10;
            var x = (new Date()).getTime(); // current time
            //buffer of n samples
            var data = [];
            for(i=0; i<n; i++){
                data.push([x - (n-1-i)*t,0]);
            } 

            console.info(data)
            var options = {
                axes: {
                   xaxis: {
                      numberTicks: 10,
                      renderer:$.jqplot.DateAxisRenderer,
                      tickOptions:{formatString:'%H:%M:%S'},
                      min : data[0][0],
                      //max : data[19][0]
                      max: data[data.length-1][0]
                   },
                   yaxis: {min:0, max: 100,numberTicks: 10,
                        tickOptions:{formatString:'%.1f'} 
                   }
                },
                seriesDefaults: {
                   rendererOptions: { smooth: true}
                }
            };
            var plot1 = $.jqplot ('grafica', [data],options);


            $('button').click( function(){  
                doUpdate();
                $(this).hide();
            });


            function getValorSensor(){
                
                var url_view = "{% url 'hidro_core.views.obtener_datos_medidos_equipo' equipo.id %}";

                var respuesta = $.ajax({
                    url : url_view,
                    type : "GET",
                    async: false,
                    success : function(data)
                    {
                      //return data[0].fields.temperatura
                    },

                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the 
                    }
                });

                //console.info(respuesta);
                return JSON.parse(respuesta.responseText);
                //return respuesta;
                
            }

            function doUpdate() {

                if(data.length > n-1){
                    data.shift();
                }
                               
                var result = getValorSensor();
                
                //data[i].fields.fecha_creacion
                                
                var temperatura = parseFloat(result[0].fields.temperatura)//result.fields[0].temperatura
                console.info("temperatura : " + temperatura);
                console.info("fecha_creacion : " + result[0].fields.fecha_creacion);

                var y = temperatura; //Math.random();
                var x = (new Date()).getTime();

                data.push([x,y]);
                if (plot1) {
                    plot1.destroy();
                }

                console.info("data procesada ->>"+ data)
                plot1.series[0].data = data; 
                options.axes.xaxis.min = data[0][0];
                options.axes.xaxis.max = data[data.length-1][0];
                plot1 = $.jqplot ('grafica', [data],options);
                setTimeout(doUpdate, t);
                
            }
            //////////////////////////////////////////////

        }); 
    </script>
{% endblock %}



