{% for equipo_medicion in equipo_mediciones %}
    <tr>
            <td>{{equipo_medicion.fecha_creacion|date:"d/m/Y"}}</td>
            <td>{{equipo_medicion.fecha_creacion|date:"H:i:s"}}</td>
            <td>
                
                <!-- VARIABLE TEMPERATURA DE AGUA -->
                {% if variable_fisica == 'temperatura_mar' %}
                    {% if equipo_medicion.temperatura_agua >= var_fisica_umbrales.umbral_base and equipo_medicion.temperatura_agua <=  var_fisica_umbrales.umbral_verde %}
                        <span class="label label-success">{{ equipo_medicion.temperatura_agua }}</span>
                    {% elif equipo_medicion.temperatura_agua > var_fisica_umbrales.umbral_verde and equipo_medicion.temperatura_agua <=  var_fisica_umbrales.umbral_amarillo %}
                        <span class="label label-amarillo">{{ equipo_medicion.temperatura_agua }}</span>
                    {% elif equipo_medicion.temperatura_agua > var_fisica_umbrales.umbral_amarillo and equipo_medicion.temperatura_agua <=  var_fisica_umbrales.umbral_naranja %}
                        <span class="label label-warning">{{ equipo_medicion.temperatura_agua }}</span>
                    {% elif equipo_medicion.temperatura_agua > var_fisica_umbrales.umbral_naranja %}
                        <span class="label label-danger">{{ equipo_medicion.temperatura_agua }}</span>
                    {% endif %}
                {% endif %}

                <!-- VARIABLE TEMPERARUTA DE AIRE -->
                {% if variable_fisica == 'temperatura_aire' %}
                    {% if equipo_medicion.temperatura >= var_fisica_umbrales.umbral_base and equipo_medicion.temperatura <=  var_fisica_umbrales.umbral_verde %}
                        <span class="label label-success">{{ equipo_medicion.temperatura }}</span>
                    {% elif equipo_medicion.temperatura > var_fisica_umbrales.umbral_verde and equipo_medicion.temperatura <=  var_fisica_umbrales.umbral_amarillo %}
                        <span class="label label-amarillo">{{ equipo_medicion.temperatura }}</span>
                    {% elif equipo_medicion.temperatura > var_fisica_umbrales.umbral_amarillo and equipo_medicion.temperatura <=  var_fisica_umbrales.umbral_naranja %}
                        <span class="label label-warning">{{ equipo_medicion.temperatura }}</span>
                    {% elif equipo_medicion.temperatura > var_fisica_umbrales.umbral_naranja %}
                        <span class="label label-danger">{{ equipo_medicion.temperatura }}</span>
                    {% endif %}
                {% endif %}

                <!-- VARIABLE HUMEDAD DE AIRE -->
                {% if variable_fisica == 'humedad_aire' %}
                    {% if equipo_medicion.humedad >= var_fisica_umbrales.umbral_base and equipo_medicion.humedad <=  var_fisica_umbrales.umbral_verde %}
                        <span class="label label-success">{{ equipo_medicion.humedad }}</span>
                    {% elif equipo_medicion.humedad > var_fisica_umbrales.umbral_verde and equipo_medicion.humedad <=  var_fisica_umbrales.umbral_amarillo %}
                        <span class="label label-amarillo">{{ equipo_medicion.humedad }}</span>
                    {% elif equipo_medicion.humedad > var_fisica_umbrales.umbral_amarillo and equipo_medicion.humedad <=  var_fisica_umbrales.umbral_naranja %}
                        <span class="label label-warning">{{ equipo_medicion.humedad }}</span>
                    {% elif equipo_medicion.humedad > var_fisica_umbrales.umbral_naranja %}
                        <span class="label label-danger">{{ equipo_medicion.humedad }}</span>
                    {% endif %}
                {% endif %}


                <!-- VARIABLE INTENSIDAD LUZ -->
                {% if variable_fisica == 'intensidad_luz' %}
                    {% if equipo_medicion.intensidad_luz >= var_fisica_umbrales.umbral_base and equipo_medicion.intensidad_luz <=  var_fisica_umbrales.umbral_verde %}
                        <span class="label label-success">{{ equipo_medicion.intensidad_luz }}</span>
                    {% elif equipo_medicion.intensidad_luz > var_fisica_umbrales.umbral_verde and equipo_medicion.intensidad_luz <=  var_fisica_umbrales.umbral_amarillo %}
                        <span class="label label-amarillo">{{ equipo_medicion.intensidad_luz }}</span>
                    {% elif equipo_medicion.intensidad_luz > var_fisica_umbrales.umbral_amarillo and equipo_medicion.intensidad_luz <=  var_fisica_umbrales.umbral_naranja %}
                        <span class="label label-warning">{{ equipo_medicion.intensidad_luz }}</span>
                    {% elif equipo_medicion.intensidad_luz > var_fisica_umbrales.umbral_naranja %}
                        <span class="label label-danger">{{ equipo_medicion.intensidad_luz }}</span>
                    {% endif %}
                {% endif %}


                <!-- VARIABLE VELOCIDAD VIENTO -->
                {% if variable_fisica == 'velocidad_viento' %}
                    {% if equipo_medicion.viento >= var_fisica_umbrales.umbral_base and equipo_medicion.viento <=  var_fisica_umbrales.umbral_verde %}
                        <span class="label label-success">{{ equipo_medicion.viento }}</span>
                    {% elif equipo_medicion.viento > var_fisica_umbrales.umbral_verde and equipo_medicion.viento <=  var_fisica_umbrales.umbral_amarillo %}
                        <span class="label label-amarillo">{{ equipo_medicion.viento }}</span>
                    {% elif equipo_medicion.viento > var_fisica_umbrales.umbral_amarillo and equipo_medicion.viento <=  var_fisica_umbrales.umbral_naranja %}
                        <span class="label label-warning">{{ equipo_medicion.viento }}</span>
                    {% elif equipo_medicion.viento > var_fisica_umbrales.umbral_naranja %}
                        <span class="label label-danger">{{ equipo_medicion.viento }}</span>
                    {% endif %}
                {% endif %}


                <!-- VARIABLE COMPAS MAGNÉTICO -->
                {% if variable_fisica == 'compas_mag' %}
                    {{ equipo_medicion.compaz_mag }}
                {% endif %}

                <!-- VARIABLE ACELERACIÓN -->
                {% if variable_fisica == 'acelerometro' %}
                    <div class="tab">x : {{ equipo_medicion.acelerometro_x }}</div>
                    <div class="tab">y : {{ equipo_medicion.acelerometro_y }}</div>
                    <div class="tab">z : {{ equipo_medicion.acelerometro_z }}</div>
                {% endif %}
                
            </td>
    </tr>
{% endfor %}