{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div id="detalle_notificaciones" class="list-group">
        
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
            
            var obj_notificacion = {

                init : function(socket)
                {
                    obj_notificacion.listar_notificaciones();
                    $(".modificar_estado_notif").click(function(){
                        el = $(this)
                        obj_notificacion.notificacion_estado(el);
                    });
                },

                
                notificacion_estado : function(el)
                {
                    var url_view = "{% url 'hidro_core.views.notificacion' %}?id="+el.attr('id');
                    $.ajax({
                        url : url_view,
                        type : "GET",
                        success : function(data)
                        {
                            if ($(this).hasClass('list-group-item-info'))
                              $(this).removeClass('list-group-item-info');
                        },

                        
                        error : function(xhr,errmsg,err) {
                            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the 
                        }
                    });
                },

                listar_notificaciones : function(socket)
                {
                    var params = {
                        notificaciones : 1
                    }   

                    var url_view = "{% url 'hidro_core.views.obtener_todas_notificaciones' %}";
                    $.ajax({
                      url : url_view,
                      type : "GET",
                      data:params,
                      success : function(notificaciones)
                      {
                        
                        var notificaciones_html = '';
                        for (var i = 0; i < notificaciones.length; i++) {
                            
                            var fecha = new Date(notificaciones[i].fields.fecha_creacion)
                            var date = fecha.getDate()+"/"+fecha.getMonth()+"/"+fecha.getFullYear()+" - "+fecha.getHours()+":"+fecha.getMinutes()+":"+fecha.getSeconds();
                            
                            
                            if (notificaciones[i].estado = 'NL'){
                                notificaciones_html += "<a href='javascript:void(0);' class='modificar_estado_notif list-group-item'>"+date+" : "+notificaciones[i].fields.descripcion+"<span class='badge badge-info glyphicon glyphicon-tag'>No Leído</span> </a>";
                            }else{
                                notificaciones_html += "<a href='javascript:void(0);'class='modificar_estado_notif list-group-item'>"+date+" : "+notificaciones[i].fields.descripcion+"<span class='badge glyphicon glyphicon-tag'>Leído</span> </a>";
                                
                            }
                        };
                        // 
                        $("#detalle_notificaciones").html(notificaciones_html);
                      }
                    }); 
                    
                }

            };


            $(function () {
               
               obj_notificacion.init();
            });

            
    </script>
{% endblock %}